.post-preview {
  display: flex;
  /* direction: column; */
  direction: row;
  align-items: center;
  justify-content: center;
}

.post-preview img {
  /* width: 100%; */
  /* height: auto; */
  height: 200px;
}