h1 {
  color: white;
}

.post {
  padding: 1.5rem 3rem;
  margin-top: 3rem;
  border: 6px solid rgba(123, 104, 238, 0.75);
  border-radius: 1rem;
  cursor: pointer;
}

.post:hover {
  opacity: 0.8;
}

.post:first-of-type {
  margin-top: 5rem;
}

.post>* {
  margin: 1rem 0;
}

.post h2 {
  margin: 1.75rem 0;
}