* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  min-height: 100vh;
  padding: 2rem 7.5vw;
}

@media (min-width: 700px) {
  body {
    padding: 2rem 10vw;
  }
}

@media (min-width: 1500px) {
  body {
    padding: 2rem 15vw;
  }
}

body>* {
  margin: 1rem 0;
  font-size: 1.25rem;
  line-height: 2rem;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h1,
h2 {
  margin: 3rem 0;
}

button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
}